.cover {
  object-fit: cover;
  width: 256px;
  height: 144px;
  background-color: #ccc;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 0%;
}
